.App {
  text-align: center;
  color: #ffffff;
  background-color: #814747;

}

html{
  text-align: center;
  color: #ffffff;
  background-color: #814747;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #1a1919;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a1919;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;

}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background:  #292929 ;
  display: flexbox;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}