#FightButton{
    height:360px;
    width:360px;
    font-size: 110px;
    margin: 15%;
    background-color: #ffe927;
    border-radius: 2%;
    color: black;
    
}
#profilepic{
    height:200px;
    width:200px;
    margin: 10%;
    border-radius: 20%;
    background-color: #000000;


}
#Restartbutton{
    background-color: #00208a;
    color: #ffffff;
    font-size:25px;

}
#xpbar{
    margin: 5%;
   
}

#adRow{
    height: 200px;
}

.carousel-inner img{
    height: 200px;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
}

div.column{
    border-top: 10%;
}
